* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-image: url('../img/background_index.jpg');
    background-repeat: repeat;
    background-size: 100%;

}

// IMPORT VARIABLES //

@import './Variables/colores';
@import './Variables/variables';

// IMPORT SECCIONES //

@import './Secciones/index';
@import './Secciones/servicios';
@import './Secciones/contacto';

